/*
 * `font-weight: 700` <=> `font-weight: bold`
 * `font-weight: 400` <=> `font-weight: normal`
 * `font-weight: 100` <=> `font-weight: lighter`
 */

/*
 * Fonts are loaded only when used and
 * defining too many `@font-face` is not a problem.
 */

/*
 * AirbnbCereal
 */

@font-face {
  font-family: "AirbnbCereal";
  font-weight: 400;
  src: url(/AirbnbCereal-Regular.hash_86b15ac031e0507ad790afafd9adf7f7.ttf) format("truetype");
}
@font-face {
  font-family: "AirbnbCereal";
  font-weight: 700;
  src: url(/AirbnbCereal-Bold.hash_c94c29feb80b02db176028d16fc634d2.ttf) format("truetype");
}
@font-face {
  font-family: "AirbnbCereal";
  font-weight: 100;
  src: url(/AirbnbCereal-Light.hash_1f9c7d320137974038c2f1a7300a1577.ttf) format("truetype");
}

/*
 * Open Sans
 */

@font-face {
  font-family: "Custom Open Sans";
  font-weight: 400;
  src: url(/OpenSans-Regular.hash_3ed9575dcc488c3e3a5bd66620bdf5a4.ttf) format("truetype");
}
@font-face {
  font-family: "Custom Open Sans";
  font-weight: 400;
  font-style: italic;
  src: url(/OpenSans-Italic.hash_f6238deb7f40a7a03134c11fb63ad387.ttf) format("truetype");
}
@font-face {
  font-family: "Custom Open Sans";
  font-weight: 500;
  src: url(/OpenSans-SemiBold.hash_ba5cde21eeea0d57ab7efefc99596cce.ttf) format("truetype");
}
@font-face {
  font-family: "Custom Open Sans";
  font-weight: 500;
  font-style: italic;
  src: url(/OpenSans-SemiBoldItalic.hash_4f04fe541ca8be9b60b500e911b75fb5.ttf) format("truetype");
}
@font-face {
  font-family: "Custom Open Sans";
  font-weight: 700;
  src: url(/OpenSans-Bold.hash_1025a6e0fb0fa86f17f57cc82a6b9756.ttf) format("truetype");
}
@font-face {
  font-family: "Custom Open Sans";
  font-weight: 700;
  font-style: italic;
  src: url(/OpenSans-BoldItalic.hash_3a8113737b373d5bccd6f71d91408d16.ttf) format("truetype");
}
@font-face {
  font-family: "Custom Open Sans";
  font-weight: 100;
  src: url(/OpenSans-Light.hash_2d0bdc8df10dee036ca3bedf6f3647c6.ttf) format("truetype");
}

/*
 * Georgia
 */

@font-face {
  font-family: "Custom Georgia";
  font-weight: 400;
  src: url(/Georgia-Regular.hash_0355b6ac6e6d2730c8c3b2015f32f52a.ttf) format("truetype");
}
@font-face {
  font-family: "Custom Georgia";
  font-weight: 400;
  font-style: italic;
  src: url(/Georgia-Italic.hash_055156d543d671863a0d040b74df96e0.ttf) format("truetype");
}
@font-face {
  font-family: "Custom Georgia";
  font-weight: 700;
  src: url(/Georgia-Bold.hash_0f8c304e82d76a3e2e7243b1051f8e8a.ttf) format("truetype");
}
@font-face {
  font-family: "Custom Georgia";
  font-weight: 700;
  font-style: italic;
  src: url(/Georgia-Bold-Italic.hash_63a604a5f2b64fd5d792b4d7c59e759d.ttf) format("truetype");
}

body {
  margin: auto;
  line-height: 1.6em;
}
body {
  --max-width: 869px;
}
#page-content {
  max-width: var(--max-width);
  margin: auto;
  padding-left: 14px;
  padding-right: 14px;
}

:root {
  /* rgb(0, 174, 65) == #00ae41 */
  --color-green-rgb: 0, 174, 65;
  /* rgb(49, 52, 61) == #31343d */
  --color-black-rgb: 49, 52, 61;
  --color-black: rgb(var(--color-black-rgb));
  --color-green: rgb(var(--color-green-rgb));
}

body {
  color: var(--color-black);
}
a {
  color: inherit;
}

table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #aaa;
  padding: 10px;
}

/*
 * Fonts
 */
body {
  /* `Custom Open Sans`: loaded font
   * `Open Sans`: system font
   */
  font-family: "Custom Open Sans", "Open Sans", "Helvetica Neue", Helvetica,
    sans-serif;
}
.quote-font {
  font-style: italic;
  font-family: "Custom Georgia", Georgia, Times, "Times New Roman", serif;
  /*
  font-family: serif;
  font-family: "Times New Roman";
  font-family: Times;
  font-family: Georgia;
  font-family: "Custom Georgia";
  */
}
.title-font,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "AirbnbCereal", sans-serif;
}
h1,
h2,
h3 {
  font-weight: bold;
}

h1 + h2,
h1 + h3,
h2 + h3,
h3 + h4 {
  margin-top: 0;
}

h3 {
  font-size: 1.1em;
  line-height: 2em;
  margin-bottom: 1.4em;
}
h3,
.h3-margin-top {
  margin-top: 45.76px;
}
h2 {
  font-size: 1.4em;
  line-height: 2em;
  margin-bottom: 1.4em;
}
h2,
.h2-margin-top {
  margin-top: 62.72px;
}
h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 0.87em;
}
h1,
.h1-margin-top {
  margin-top: 12.8px;
}

.values-table th {
  font-weight: normal;
}
.values-table tr td:first-child {
  text-align: left;
}
.gauge {
  width: 60px;
}
/*
.values-table {
  outline: 1px solid red;
}
*/
@media (max-width: 599px) {
  .values-table {
    table-layout: fixed;
    font-size: 0.75em;
  }
  .values-table th,
  .values-table td {
    padding: 1px;
  }
  .gauge {
    width: 24px;
  }
}

.legal-doc {
  font-size: 0.9em;
  line-height: 1.2em;
  /*
  fontWeight: lighter;
  */
}
.legal-doc h1 {
  margin-bottom: 27px;
}

code {
  font-size: 1em;
  background-color: #eee;
  padding: 2px 7px;
  border-radius: 4px;
}
.code-block {
  white-space: pre-wrap;
  background-color: #f6f8fa;
  border-radius: 3px;
  padding: 16px;
}

li {
  margin-top: 2px;
}

ul.long-bullets li {
  margin-top: 0.6em;
}

/*
 * Background Colors
 *
 */
body {
  --page-background: white;
}
body {
  position: relative;
}
body:before,
body:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body:before {
  z-index: -2;
  background-color: var(--page-background);
}
body:after {
  z-index: -1;
  background-color: var(--menu-background-color);
}
#page-content-container {
  background-color: var(--page-background);
}
#page-content-container {
  padding-bottom: 70px;
}

/*
 * Layout
 *
*/
html {
  height: 100%;
}
body {
  min-height: 100%;
  overflow-y: scroll;
}

/*
 * Buttons
 *
 */
.lsos-button {
  --btn-color: var(--color-green);
  background-color: var(--btn-color);
  padding: 0 20px;
  padding-top: 8px;
  padding-bottom: 11px;
  margin: 0 5px;
  color: white;
  border: 0;
  text-decoration: none;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 6px;
  /*
  box-shadow: 2px 2px 4px #ccc;
  */
  min-height: 40px;
}
.lsos-button--one-liner {
  padding: 8px 20px;
  margin: 0;
}
.lsos-button--secondary {
  background-color: white;
  color: var(--btn-color);
  border: 2px solid var(--btn-color);
}
.lsos-button--action-alone,
.lsos-button--action-top,
.lsos-button--action-bottom {
  font-size: 1.45em;
}
.lsos-button--action-alone,
.lsos-button--action-top {
  padding-bottom: 3px;
}
.lsos-button--action-alone,
.lsos-button--action-bottom {
  padding-top: 2px;
}
.lsos-button--desc {
  font-size: 0.86em;
  line-height: 1.3em;
}

.semibold {
  font-weight: 500;
}

/*
 * Header positioning
 */
/* Fixed position:
#header-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}
#page-content-container {
  padding-top: calc(36px + var(--header-height));
}
*/
#page-content-container {
  padding-top: 36px;
}

/*
 * Layout
 *
 */
:root {
  --header-height: 58px;
}
#header-container {
  box-sizing: border-box;
  padding: 0 8px;
  width: 100%;
}
#header {
  margin: auto;
  max-width: var(--max-width);
  width: 100%;
}
#header a {
  display: flex;
  min-height: var(--header-height);
  align-items: center;
  box-sizing: border-box;
  padding: 0 8px;
}
/*
#header .menu_container a {
  display: inline-flex;
  align-items: center;
}
*/

.menu_container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(1, auto);
  grid-gap: 16px;
}
.menu_item:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.menu_item:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}
.menu_item:nth-child(3) {
  grid-column: 3;
  grid-row: 1;
}
.menu_item:nth-child(4) {
  grid-column: 4;
  grid-row: 1;
}
.menu_item:nth-child(4) a {
  padding-right: 0 !important;
}
#header .text-mobile {
  display: none;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 500px) {
  #header .menu_container {
    display: grid;
    padding: 6px;
    grid-column-gap: 16px;
    grid-row-gap: 0;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, max-content);
  }
  #header .menu_item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  #header .menu_item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }
  #header .menu_item:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }
  #header .menu_item:nth-child(4) {
    grid-column: 2;
    grid-row: 1;
  }
  #header a {
    display: block;
    min-height: 0;
    padding: 0;
  }
}
@media (max-width: 650px) {
  #header .text-desktop {
    display: none;
  }
  #header .text-mobile {
    display: inline;
  }
}
@media (max-width: 350px) {
  #header .text-mobile {
    font-size: 0.95em;
  }
}

/*
 * Colors
 *
 */
#header-container {
  background-color: var(--menu-background-color);
}
html.backdrop-filter-support body {
  --menu-background-color: rgba(242, 242, 242, 0.7);
}
html:not(.backdrop-filter-support) body {
  --menu-background-color: rgba(245, 245, 245, 0.98);
}
html.backdrop-filter-support #header-container {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
#header a {
  text-decoration: none;
}

/*
 * Style
 *
 */
#footer {
  font-size: 0.95rem;
  color: #888;
  line-height: 1.3rem;
}
#footer-container {
  padding-top: 37px;
  padding-bottom: 46px;
}
#footer-container h4 {
  margin-top: 0;
}

/*
 * Layout
 *
 */
#footer-container {
  width: 100%;
}
#footer {
  margin: auto;
  max-width: var(--max-width);
  width: 100%;
}

/*
 * Responsive Layout
 *
 */
#footer {
  display: grid;
  width: 100%;
  justify-content: space-between;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(1, auto);
  grid-gap: 10px;
}
.footer_section:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.footer_section:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}
.footer_section:nth-child(3) {
  grid-column: 3;
  grid-row: 1;
}
.footer_section:nth-child(4) {
  grid-column: 4;
  grid-row: 1;
}
@media (max-width: 699px) {
  #footer {
    justify-content: space-around;
    display: grid;
    grid-row-gap: 8px;
    grid-column-gap: 19px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }
  .footer_section:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .footer_section:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }
  .footer_section:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
  }
  .footer_section:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }
}


/*# sourceMappingURL=reminder-demo.style.hash_8ce76f3608446336411b.css.map*/